.about__card__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 2em;
  margin-top: 4em;
}
.about__card__container__reverse {
  flex-direction: row-reverse;
}
.about__card__container__img {
  width: 50%;
  border-radius: 12px;
}
.about__card__container__img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  object-fit: contain;
  border-radius: 12px;
}
.about__card__content {
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.about__card__content__heading {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 0.5em;
}
.about__card__content__text {
  color: #1e1e1e;
  line-height: 1rem;
}
.about__img__text__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 4em;
}
.about__img__warper {
  width: 100%;
}
.about__img__warper_overlay {
  background-color: rgba(255, 255, 255, 0.514);
}
.about__text__warper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(39, 39, 39, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2em;
}
.about__text__warper__heading {
  font-size: 30px;
  font-weight: 800;
}
.about__text__warper__title {
  font-weight: 500;
  margin: 0.8em;
}
.about__text__warper__content {
  font-size: 14px;
  text-align: center;
  max-width: 820px;
  line-height: 20px;
  font-weight: 300;
}
.about__img__warper img {
  width: 100%;
  height: 100%;
  max-height: 500px;
  object-fit: cover;
}
.map__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 3em 2em;
}
.map__container__content {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.map__container__heading {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 1em;
  position: relative;
}
.map__container__heading::after {
  content: "";
  width: 50px;
  height: 9px;
  right: -2em;
  top: 0.3em;
  background-color: var(--orange);
  margin-top: 0.5em;
  position: absolute;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.map__adress__entry {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 2em;
}
.map__adress__entry__content {
  display: flex;
  flex-direction: column;
}
.map__adress__entry__content__heading {
  font-size: 1.1rem;
  font-weight: 700;
}
.map__adress__entry__content__sub__heading {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
}
.map__container__img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.map__container__img iframe {
  border-radius: 12px;
}
.value__text__warper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1366px;
  margin: 0 auto;
  padding: 2em;
  gap: 1em;
}
.value__container__heading {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 1em;
  position: relative;
}
.value__container__heading::after {
  content: "";
  width: 40px;
  height: 9px;
  left: 6.3em;
  top: 0.3em;
  background-color: var(--orange);
  margin-top: 0.5em;
  position: absolute;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.value__container__heading__why {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 1em;
  position: relative;
}
.value__container__heading__why::after {
  content: "";
  width: 40px;
  height: 9px;
  left: 4.9em;
  top: 0.3em;
  background-color: var(--orange);
  margin-top: 0.5em;
  position: absolute;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.value__card__warper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  align-items: center;
}
.value__text__warper__left {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.value__container__card {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 350px;
  padding: 2em;
  border-radius: 12px;
  transition: 300ms ease-in-out;
}
.value__container__card__color {
  background-color: var(--orange);
  color: white;
}
.value__container__card:hover {
  background-color: var(--orange);
  transition: 30 0ms ease-in-out;
  color: white;
}
.map__container__card__svg svg {
  color: var(--orange);
}
.value__container__card:hover .map__container__card__svg svg {
  transition: 300ms ease-in-out;
  color: white;
}
.map__container__card__head {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  margin-bottom: 0.5em;
}
.map__container__card__content {
  font-size: 14px;
}
.map__container__card__title {
  font-size: 1rem;
  font-weight: 700;
}
.value__text__warper__right {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.value__corden__container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.value__corden__entry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 1.3em 1.5em;
  border-radius: 22px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  margin-bottom: 1em;
}
.value__corden__entry:hover {
  background-color: var(--orange);
  color: white;
  transition: 300ms ease-in-out;
}
.value__corden__entry:hover .value__corden__entry__svg svg {
  color: white;
  transition: 300ms ease-in-out;
}
.value__corden__entry__title {
  font-weight: 700;
  font-size: 1rem;
}
.value__content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 0.5em 1.5em;
  line-height: 20px;
  background-color: #f8f8f8;
  border-radius: 12px;
  margin-bottom: 1em;
  padding: 1.5em;
}
.close__svg {
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}
@media (max-width: 1050px) {
  .value__text__warper__right {
    width: 50%;
  }
  .value__text__warper__left {
    width: 50%;
  }
  .value__container__card {
    width: 100%;
    max-width: 100%;
  }
  .about__card__content__text {
    font-size: 14px;
  }
  .about__card__content__heading {
    font-size: 24px;
  }
}
@media (max-width: 1000px) {
  .about__img__text__container {
    margin-top: 2em;
  }
  .about__card__content__text {
    font-size: 14px;
    line-height: 16px;
  }
  .about__card__content__heading {
    font-size: 24px;
  }
  .about__card__content {
    padding: 1em;
  }
  .about__card__container {
    flex-direction: column;
  }
  .about__card__container__img {
    width: 100%;
  }
  .about__card__content {
    width: 100%;
    padding: 2em 0;
  }
  .about__card__container {
    margin-top: 2em;
  }
  .about__card__content__heading {
    font-size: 22px;
  }
  .about__text__warper__heading {
    font-size: 22px;
  }
  .about__text__warper__title {
    font-size: 16px;
  }
}
@media (max-width: 950px) {
  .map__container__content {
    width: 100%;
  }
  .map__adress__entry {
    width: 35%;
    min-width: 350px;
  }
  .map__adress__entry__warper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .map__container {
    flex-direction: column;
  }
  .about__text__warper__title {
    margin: 0.5em 0;
  }
  .about__img__warper img {
    height: 350px;
    object-fit: cover;
  }
  .about__text__warper__title {
    text-align: center;
  }
  .value__container__heading__why {
    font-size: 24px;
  }
  .value__container__heading {
    font-size: 24px;
  }
  .map__container__img {
    width: 100%;
    margin-top: 1em;
  }
}
@media (max-width: 850px) {
  .value__text__warper__right {
    width: 100%;
    margin-top: 2em;
  }
  .value__card__warper {
    justify-content: space-between;
  }
  .value__text__warper__left {
    width: 100%;
  }
  .value__container__card {
    width: 47%;
    min-width: 320px;
  }
  .value__text__warper {
    flex-direction: column;
  }
  .map__adress__entry__content__sub__heading {
    font-size: 14px;
  }
  .map__adress__entry {
    width: 35%;
    min-width: 350px;
  }
  .map__adress__entry {
    width: 100%;
    min-width: 100%;
  }
  .map__container__heading {
    font-size: 24px;
  }
  .map__container__heading::after {
    width: 40px;
  }
  .value__container__card {
    width: 100%;
    min-width: 100%;
  }
}
@media (max-width: 750px) {
  .value__corden__entry__title {
    font-size: 16px;
  }
  .value__content {
    font-size: 12px;
  }
  .value__container__heading__why {
    font-size: 22px;
  }
  .map__container__card__title {
    font-size: 16px;
  }
  .value__container__heading {
    font-size: 22px;
  }
}
@media (max-width: 600px) {
  .map__container__heading {
    font-size: 20px;
  }
  .map__container__heading::after {
    width: 30px;
    height: 7px;
  }
  .map__adress__entry__content__heading {
    font-size: 16px;
  }
  .about__text__warper {
    padding: 0 1em;
  }
  .about__text__warper__title {
    text-align: center;
    margin: 1em 0;
  }
  .about__text__warper__content {
    font-size: 12px;
  }
}
